* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 1rem 10%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 1rem;
    font-weight: 800;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.header-links-item a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.header-bottom {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
}

.header-bottom-content {
    width: 50%;
    margin-right: 2rem;
}

.header-bottom-content h1 {
    font-size: 48px;
    font-weight: bolder;
}

.header-bottom-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-bottom-content button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0 solid #3882F6;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    margin-top: 0.5rem;
}
.header-bottom-img {
    width: 50%;
}

.header-bottom-img img {
    position: relative;
    width: 50%;
    left:25%;
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-top h2 {
    position: relative;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    margin: 2rem;
    text-align: center;
}

.main-top-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 3rem 5rem;
    justify-content: center;
}

.main-top-item {
    font-size: 18px;
}

.item-img {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-height: 300px;
    flex: 1 1 auto;
}

.main-middle {
    background-color: #E5E7EB;
    width: 100%;
}

.quote {
    width: 50%;
    text-align: left;
    font-size: 36px;
    margin: 5rem auto 0;
    color: #1F2937;
    font-style: italic;
}

.author {
    width: 50%;
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
    margin: auto auto 5rem;
}

.main-bottom {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 80%;
    height: 35vh;
    margin: 5rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-bottom-left {
    flex-grow: 1;
    margin: 2rem 5rem;
}

.main-bottom-left h2 {
    font-size: 24px;
}

.main-bottom-left p {
    font-size: 18px;
}

.main-bottom-right {
    margin: 2rem 5rem;
    border: 2px solid #F9FAF8;
    padding: 0.1rem 1.2rem;
    border-radius: 5px;
}

.main-bottom-right button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
}